services:
  fastapi-blue:
    # container_name: main-fastapi-blue
    image: ${FASTAPI_BLUE_IMAGE}:${TAG_BLUE}
    networks:
      - main-protostar
    env_file: .env
    environment:
      - APP_ENV=production
    restart: unless-stopped
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.2'
          memory: 256M

  fastapi-green:
    # container_name: main-fastapi-green
    image: ${FASTAPI_GREEN_IMAGE}:${TAG_GREEN}
    networks:
      - main-protostar
    env_file: .env
    environment:
      - APP_ENV=production
    restart: unless-stopped
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.2'
          memory: 256M

networks:
  main-protostar:
    external: true
    name: main-protostar